{% extends "base.html" %}
{% block content %}
    <table class="table table-hover table-bordered">
        <tr>
            <td>Bug#</td>
            <td>Description</td>
            <td>Assignee</td>
            <td>Severity</td>
            <td>Status</td>
        </tr>
        {% for bug in bugs %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
