{% extends "base.html" %}
{% block content %}
    <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#details">DB Object : {{object_name}}</a></li>
    <li><a data-toggle="tab" href="#query">Query Data</a></li>
    </ul>

    <div class="tab-content">
        <div id="details" class="tab-pane fade in active">
            <section class="panel panel-default">
                <header class="panel-heading">
                    <h4>Details for DB object : {{object_name.upper()}}</h4>
                </header>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Column ID</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Nullable?</th>
                            <th>Default Value</th>
                            <th>Primary Key?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for atrib in query_results %}
                            <tr>
                                <td>{{atrib[0]}}</td>
                                <td>{{atrib[1]}}</td>
                                <td>{{atrib[2]}}</td>
                                <td>{% if atrib[3]== 1 %}
                                        No
                                    {% else %}
                                        Yes
                                    {% endif %}
                                </td>
                                <td>{{atrib[4]}}</td>
                                <td>{% if atrib[5]== 1 %}
                                        Yes
                                    {% else %}
                                        No
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
        <div id="query" class="tab-pane fade">
        <p>Here you can query data for db object {{object_name}}</p>
        </div>
    </div>
{% endblock %}